{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form class="form-horizontal" role="form" action="/accounts/login/" method="POST" >
    {% csrf_token %}

        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{item.label}}</label>
                <div class="col-md-2">
                    {{item}}
                </div>
                <div class="col-md-offset-1 col-md-10">
                    {{item.errors}} {{error_msg}}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="hidden" name="next" value="{{ next }}" />
                <button type="submit" class="btn btn-success btn-sm">登 录</button>
            <div>
        </div>

    </form>
{% endblock %}
