{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h3>关于项目：</h3>
    <p>项目后台采用django,前台采用bootstrap开发,搭建在sae上.</br>
    项目实现了django用户管理相关功能,主要逻辑为权限--角色--用户,用户属于特定角色，角色包含相应权限，主要实现的功能有：</p>
    <p>
    <strong>用户：</strong>
    1.用户登录
    2.用户注销
    3.修改密码
    4.新建用户
    5.用户列表
    6.编辑用户
    7.删除用户
    8.重置密码
    </br>
    <strong>角色：</strong>
    1.新建角色
    2.角色列表
    3.编辑角色
    4.删除角色
    </br>
    <strong>权限：</strong>
    1.新建权限
    2.权限列表
    3.编辑权限
    4.删除权限
    </p>
	
	</hr>	
	<p><strong>最大特色：</strong><font color="#FF0000">可以根据URL做到详细的权限控制。</font></p>

    </hr>
    <p>登录账号t1-t6(不同账号不同权限)，密码都为123456（希望各位登录改过的退出之前改回来,如果无法登录可能是密码被改掉等，请群里询问），t8为管理员账号有所有权限，密码一样。</p>


    <h3>关于本人：</h3>
    <p>非专业程序员，搬服务器的，纯兴趣写了这么个东东，不喜轻喷，如有任何问题欢迎联系。</p>

    <div class="row">
        <div class="col-md-3">
            <form action="https://shenghuo.alipay.com/send/payment/fill.htm" method="post" target="_blank" >
                <input name="optEmail" type="hidden" value="liufeily@163.com">
                <input name="payAmount" type="hidden" value="10">
                <input name="title" type="hidden" value="" placeholder="付款说明">
                <input name="pay" type="image" value="赏杯茶喝" src="/static/images/alipay.png">
            </form>
        </div>

		<div class="col-md-9">
			<h3>关于开源：</h3>
			<a href="http://git.oschina.net/liufeily/sadmin">http://git.oschina.net/liufeily/sadmin</a></br>
			如果觉得项目写的不错或对你有用，请小额赞助；</br>
			如果发现项目有任何bug，欢迎反馈给我，我会尽快修复；</br>
			如果觉得项目就是个垃圾，浪费了您的时间，我表示抱歉。</br>
		
            <h3>联系方式：</h3>
            <p>
			QQ群:246758766</br>
            Email:liufeily@163.com</br>
			Blog:<a href="http://liufeily.sinaapp.com">http://liufeily.sinaapp.com</a>（基于此系统）			
			</p>
		</div>
	</div>

{% endblock %}
