{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h3>关于项目:</h3>
    <p>项目后台采用django,前台采用bootstrap开发,搭建在sae上.</br>
    项目实现了django用户管理相关功能,主要逻辑为权限--角色--用户,可以<strong>根据URL</strong>分配详细权限，用户属于特定角色，角色包含相应权限，主要实现的功能有：</p>
    <p>
    <strong>用户:</strong>
    1.用户登录
    2.用户注销
    3.修改密码
    4.新建用户
    5.用户列表
    6.编辑用户
    7.删除用户
    8.重置密码
    </br>
    <strong>角色:</strong>
    1.新建角色
    2.角色列表
    3.编辑角色
    4.删除角色
    </br>
    <strong>权限:</strong>
    1.新建权限
    2.权限列表
    3.编辑权限
    4.删除权限
    </p>

    <p>登录账号t1-t6(不同账号不同权限)，密码都为123456（希望各位登录改过的退出之前改回来），t8为管理员账号有所有权限，密码一样。</p>
    </hr>

    <h3>关于本人:</h3>
    <p>非专业程序员，搬服务器的，纯兴趣写了这么个东东，不喜轻喷，如有任何问题欢迎联系。</p>

	<h3>开源说明:</h3>
    <p>代码暂不开源，有偿提供（写这么多也不容易，非专业可能有很多bug，轻喷），但价格随便给，支付宝账号：liufeily@163.com，需要请联系。</p>
	<img src="/static/images/alipay.jpg" alt="扫码赞助" title="扫码赞助">
    </hr>

    <h3>联系方式:</h3>
    <p>QQ:1378203364</br>
    Email:liufeily@163.com</p>


{% endblock %}
